<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container info-box shadow">
  	<h3>Actors</h3>
  	<p>Actors refer to all the people and things you can get items from in the randomizer. Any item in the game will be relocated to these actors based on the randomization logic. Actors include the following:</p>
  	<ul>
  		<li>Merchants</li>
  		<li>Blue and red crystal dudes</li>
  		<li>Free laurels dude</li>
  		<li>Death and Camilla boss drops</li>
  		<li>Mansion orbs</li>
  		<li>Free diamond dude</li>
  		<li>Flame whip dude</li>
  		<li>Secret merchants summoned with garlic</li>
  		<li>Sacred flame</li>
  	</ul>
  	<h3>Item Locations</h3>
  	<p>The items in the randomizer can be retrieved, purchased, or battled for in the following locations:</p>
  	<table class="table table-striped table-bordered">
  		<thead class="thead-dark">
  			<tr>
          <th></th>
  				<th>actor</th>
  				<th>location</th>
  			</tr>
  		</thead>
  		<tbody>
        <% itemLocations.forEach(function(item) { %>
        <tr>
          <td><img src="<%= item.image %>" class="actor-icon"></td><td><%= item.actor %></td><td><%= item.location %></td>
        </tr>
        <% }); %>
  		</tbody>
  	</table>
    <h3>The Logic</h3>
    <p>When talking about CV2 Randomizer, as well as any other randomizers, we often refer to "the logic". The logic refers the order in which items are randomized in the game such that you're never stuck in an impossible situation from which you can't progress. For example, holy water would never be in a location that requires holy water to reach it. The logic ensures that every time you generate a randomized version of the game that it is possible to complete. That doesn't mean the logic will be kind! it may make you back track and take on extremely hard challenges at times, but if you can endure the pain of a tough seed, there's always light at the end of the tunnel.</p>
    <ul>
      <li>The Camilla Cemetery 3 block jump </li>
    </ul>
  </div>
    
</div>

</body>
</html>
