<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src="/js/SpriteMaker.js"></script>
  <script>
    function init() {
      const spriteMaker = new SpriteMaker();
      spriteMaker.draw();
    }
  </script>
</head>

<body onload="init();">

  <% include ../partials/nav.ejs %>

  <div class="jumbotron text-center">
    <div class="container info-box shadow">
      <div class="row">
        <h3>Sprite Maker</h3>
        <p>You can use the simple tool below to make all the modifications necessary to update Simon's sprite. You will then be able to export it as a patch that can be submitted as a pull request to the cv2r project.</p>
        </div>
      <div class="row">
        <div id="editor-container" class="col-sm-5"></div>
        <div class="col-md-7">

          <div>Palette</div>
          <div id="palette-container"></div>

          <div>Color Picker</div>
          <div class="color-picker-container">
            <div id="cp-row-1" class="row"></div>
            <div id="cp-row-2" class="row"></div>
            <div id="cp-row-3" class="row"></div>
            <div id="cp-row-4" class="row"></div>
          </div>

          <div>Simon's Tiles</div>
          <div id="tiles"></div>

          <div>Simon's Sprites & Animations</div>
          <div>
            <span>FPS: </span>
            <input type="text" id="fps" value="3">
          </div>
          <div id="states"></div>

        </div>
      </div>
    </div>
  </div>

</body>
</html>
