<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src="/js/sprite-maker/sprites.js"></script>
  <script src="/js/sprite-maker/SpriteMaker.js"></script>
  <script>
    var canvas;
    var mousedown = false;

    function init() {
      canvas = $('#simon')[0];
      SpriteMaker.init($(canvas), Sprites[0], 8);
      SpriteMaker.draw();

      canvas.addEventListener('click', SpriteMaker.drawPixel.bind(SpriteMaker), false);
      canvas.addEventListener('mouseup', () => mousedown = false);
      canvas.addEventListener('mousedown', ev => {
        mousedown = true;
        SpriteMaker.drawPixel(ev);
      });
      canvas.addEventListener('mousemove', function(ev) {
        if (mousedown) {
          SpriteMaker.drawPixel(ev);
        }
      });

      $('.picker-button').click(function() {
        var pb = $('.palette-button-selected').first();
        var bgc = $(this).css('background-color');
        pb.css('background-color', bgc);
        palette[parseInt(pb.attr('data-pi'), 10)].hex = bgc;
        SpriteMaker.draw();
      });

      $('.palette-button').click(function() {
        var self = this;
        $('.palette-button').each(function() {
          if (this === self) {
            $(this).addClass('palette-button-selected');
          } else {
            $(this).removeClass('palette-button-selected');
          }
        });
      });
    }

  </script>
</head>

<body onload="init();">

  <% include ../partials/nav.ejs %>

  <div class="jumbotron text-center">
    <div class="container info-box shadow">
      <div class="row">
        <h3>Sprite Maker</h3>
        <p>You can use the simple tool below to make all the modifications necessary to update Simon's sprite. You will then be able to export it as a patch that can be submitted as a pull request to the cv2r project.</p>
        </div>
      <div class="row">
        <div class="col-sm-3">
          <canvas id="simon" height="256" width="128" style="height:256px; width:128px; background-color:white;"></canvas>
        </div>
        <div class="col-md-9">
          <div>Palette</div>
          <button class="palette-button palette-button-selected" data-pi="0" style="background-color:#000;"></button>
          <button class="palette-button" data-pi="1" style="background-color:#f00;"></button>
          <button class="palette-button" data-pi="2" style="background-color:#fff;"></button>
          <button class="palette-button" data-pi="3" style="background-color:#000;"></button>

          <div>Color Picker</div>
          <div style="margin-left:14px; width:640px;">
            <% colors.forEach(function(color, index) {
                 var offset = Math.floor(index / 16);
                 if (index % 16 === 0) {
            %>
            <div class="row">
            <%   } %>
              <button class="picker-button" style="background-color:#<%= color.hex %>"></button>
            <%   if (index % (15 * (offset+1) + offset) === 0 && index !== 0) { %>
            </div>
            <%   }
               }); %>
          </div>

          <div>Simon's Sprites</div>
          <canvas height="64" width="64" style="height:64px; width:64px; background-color:#0ff;"></canvas>

          <div>Simon's Animations</div>
          <canvas height="128" width="64" style="height:128px; width:64px; background-color:#f00;"></canvas>
          <canvas height="128" width="64" style="height:128px; width:64px; background-color:#0f0;"></canvas>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
