<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src="/js/SpriteMaker.js"></script>
  <script>
    function init() {
      const spriteMaker = new SpriteMaker();
      spriteMaker.draw();
    }
  </script>
</head>

<body onload="init();">

  <% include ../partials/nav.ejs %>

  <div class="jumbotron text-center">
    <div class="container info-box shadow">
      <h3 style="width:100%; text-align:center;">Sprite Maker</h3>
      <div class="row" style="height:520px;">
        <div class="col-sm-2" style="padding:0 0.25em;">
          <div class="sm-panel"> 
            <div class="sm-panel-header">Tiles</div>
            <div id="tiles"></div>
          </div>
        </div>

        <div class="col-md-6 container">
          <div class="row">
            <div id="editor-container" class="col-12" style="position: relative;">
              <canvas id="editor-canvas" class="editor-canvas"></canvas>
              <canvas id="editor-canvas-overlay" class="editor-canvas" style="z-index: 1;"></cavnas>
            </div>
          </div>
        </div>

        <div class="col-md-4">

          <div class="sm-panel" style="min-width: 340px;">
            <div class="sm-panel-header">Palette</div>
            <div id="palette-container"></div>
            <div class="color-picker-container row">
              <div id="cp-row-1" class="col-12" style="padding:0; height:20px;"></div>
              <div id="cp-row-2" class="col-12" style="padding:0; height:20px;"></div>
              <div id="cp-row-3" class="col-12" style="padding:0; height:20px;"></div>
              <div id="cp-row-4" class="col-12" style="padding:0; height:20px;"></div>
            </div>
          </div>

          <div class="sm-panel">
            <div class="sm-panel-header">Patch Info</div>
            <form id="patch-info" class="needs-validation" novalidate>
              <div class="form-group form-inline">
                <label for="patch-name">Name</label>
                <input type="text" class="form-control" id="patch-name">
              </div>
              <div class="form-group form-inline">
                <label for="patch-name">ID</label>
                <input type="text" class="form-control" id="patch-id" disabled>
              </div>
              <div class="form-group form-inline">
                <label for="patch-name">Author</label>
                <input type="text" class="form-control" id="patch-author">
              </div>
              <div class="form-group form-inline">
                <label for="patch-name">Notes</label>
                <input type="text" class="form-control" id="patch-notes">
              </div>
            </form>

            <div class="action-buttons">
              <button id="sprite-save" type="button" class="btn-sm btn-secondary" style="border: 2px solid black;">SAVE</button>
              <button id="sprite-load" type="button" class="btn-sm btn-secondary" style="border: 2px solid black;">LOAD</button>
              <input id="sprite-load-file" type="file" name="name" accept=".json" style="display: none;"/>
              <button id="sprite-patch" type="button" class="btn-sm btn-success" style="border: 2px solid black;">Create Patch</button>
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-12">
          <div class="sm-panel">
            <div class="sm-panel-header">Preview</div> 
            <div class="row">
              <div class="col-8">
                <div id="states"></div>
              </div>

              <div class="col-4" style="border-left: 1px solid black;">
                <table>
                  <tbody>
                    <tr>
                      <td style="width:50%">FPS</td>
                      <td style="width:50%"><input type="range" class="custom-range" value="3" min="1" max="10" step="1" id="fps"></input></td>
                    </tr>
                    <tr>
                      <td>animation</td>
                      <td><input type="checkbox" data-toggle="toggle" checked id="animateToggle" data-offstyle="danger"></td>
                    </tr>
                    <tr>
                      <td>transparency</td>
                      <td><input type="checkbox" data-toggle="toggle" id="transparentToggle" data-offstyle="danger"></td>
                    </tr>
                    <tr>
                      <td>show all</td>
                      <td><input type="checkbox" data-toggle="toggle" checked id="affectedToggle" data-offstyle="danger"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
