<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/">
      <img src="/img/cv2r-logo.png">
    </a>
    <p>Castlevania II: Simon's Quest Randomizer is a new take on an old game. We shuffle around all the items, weapons, whips, Dracula parts, and just about everything else throughout the entire game! Will the Dracula's heart be for sale in Jovah? Will the Berkeley orb upgrade your whip? Will you have to kill Death just to get your holy water? Generate a randomized game and find out!</p>
    <a href="/getrom"><button href="/getrom" class="btn btn-danger btn-xlarge">Start Playing!</button></a>
  </div>
</div>
<div class="container index-info shadow" style="background:white; padding:15px; padding-bottom: 2px;">
  <div class="row">
    <div class="col-md-6">
      <h3>Join the community!</h3>
      <ul>
        <li>Join us for updates, feedback, request, races, and everything else related to this randomized at the <a href="https://discord.gg/tuGjwHy">Castlevania II: Simon's Quest Randomizer Discord</a>.</li>

        <li>Check out the home of all things Castlevania at the <a href="https://discord.gg/dTeBzCy">Castlevania Speedrun Discord</a>.</li>
        <li>Want to check out the code that makes this all work? Even better, want to contribute? Both the <a href="https://github.com/BloodSweatAndCode/cv2-rando">cv2-rando CLI</a> and the <a href="https://github.com/BloodSweatAndCode/cv2r.com">cv2r.com website</a> are open source and located on Github.</li>
        <li>Come watch the top Castlevania II speedrunners playing this randomizer. Take a look in the <a href="/credits">credits section</a> to find the twitch links for all of our top runners!</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3>Get good!</h3>
      <ul>
        <li>Learn all the tech and strats necessary to run this game at a high level by watching the <a href="https://www.speedrun.com/cv2sq">fastest runs of all time at speedrun.com</a></li>
        <li>Watch the <a href="/credits">top runners</a> routing on-the-fly and inventing new tech on almost every run on their twitch streams.</li>
        <li>Join the <a href="https://discord.gg/dTeBzCy">Castlevania Speedrun Discord</a>, hop into the castlevania2 channel, and ask the top runners for tips, feedback on runs, or anything else to help level up your gameplay.</li>
      </ul>
    </div>
  </div> <!-- row -->
  <!-- <div class="alert alert-info text-center" role="alert">
    The Castlevania II: Simon's Quest randomizer was created by me, <b><span style="color:#f00">Blood</span><span style="color:blue">Sweat</span><span style="color:black">And</span><span style="color:seagreen">Code</span></b>. Check out my <a href="https://www.twitch.tv/bloodsweatandcode">twitch stream</a> or take a gander at all the code that makes this work on my <a href="https://github.com/BloodSweatAndCode">Github profile</a> (along with some other NES hacking). The easiest way to get a hold of me is in the <a href="https://discord.gg/tuGjwHy">Castlevania II: Simon's Quest Randomizer discord</a>.
  </div> -->
  
</div>

</body>
</html>
