<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script>
    var state = {};

    $(document).ready(function() {
      $('#rom')[0].addEventListener('change', function() {
        state = {};
        console.log(this.files[0]);
        var file = this.files[0];
        $('#romFile')[0].value = file.name;

        var reader = new FileReader();
        reader.onload = function() {
          state.rom = new Uint8Array(this.result);
        }
        reader.readAsArrayBuffer(file);
      }, false);

      $('#seed')[0].addEventListener('click', function() {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/seed', true);
        xhr.onload = function () {
          console.log(this);
          $('#seedString')[0].value = this.response;
        };
        xhr.send(null);
      }, false);

      $('#patch')[0].addEventListener('click', function() {
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/patch', true);
        xhr.onreadystatechange = function() {
          if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
            const { patch, spoiler } = JSON.parse(this.response);
            console.log(spoiler);
            const { rom } = state;
            patch.forEach(entry => {
              Object.keys(entry).forEach(offset => {
                rom.set(entry[offset], parseInt(offset));
              });
            });
            const blob = new Blob([rom]);
            const fileName = 'cv2r.nes';
            const link = document.createElement('a');
            const url = URL.createObjectURL(blob);
            link.setAttribute('href', url);
            link.setAttribute('download', fileName);
            link.style.visibility = 'hidden';
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
          }
        };
        xhr.send(null);
      }, false);
    });
  </script>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">

    <form>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="rom">Upload Castlevania 2 ROM</label>
            <div class="input-group">
                <input type="text" id="romFile" class="form-control" readonly="">
                <label class="input-group-btn">
                  <span class="btn btn-dark">Browse… 
                    <input type="file" id="rom" style="display: none;" multiple="">
                  </span>
                </label>
              </div>
            <small class="form-text text-muted">This should be "Castlevania II - Simon's Quest (USA).nes" ROM file</small>
          </div>
          <div class="form-group">
            <label for="seed">Randomizer Seed</label>
            <div class="input-group">
                <input type="text" id="seedString" class="form-control">
                <label class="input-group-btn">
                  <span class="btn btn-dark">Generate Seed 
                    <input type="button" id="seed" style="display: none;" multiple="">
                  </span>
                </label>
              </div>
            <small class="form-text text-muted">Use this seed, generate a new one, or create your own alphanumeric seed</small>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="difficulty">Game Difficulty</label>
            <select class="form-control" id="difficulty">
              <option value="easy">Easy</option>
              <option value="standard" selected="selected">Standard</option>
              <option value="hard">Hard</option>
            </select>
            <small class="form-text text-muted">Difficulty determines which patches are applied to the randomized game. Displaying a list of each patch a given difficulty applies in on my TODO list.</small>
          </div>
          <div class="form-group">
            <label for="palette">Color Palette</label>
            <select class="form-control" id="palette">
              <option value="classic" selected="selected">Classic</option>
              <option value="rondo-of-burb">Rondo of Burb</option>
            </select>
            <small class="form-text text-muted">Choose from a selection of color palettes for the game. "Classic" is the standard Simon's Quest color palette. All other palettes are user submitted patches to change colors throughout the game. Previews of the palettes is on my TODO list.</small>
          </div>
        </div>
      </div>
    </form>

    <a type="button" id="patch" class="btn btn-lg btn-danger">RANDOMIZE!</a>
</div>

</body>
</html>
