<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top shadow">
  <a class="navbar-brand" href="/"><img src="/img/cv2-logo-thin.png" style="height:40px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-item nav-link" href="/getrom">Start Playing</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" href="/doc">How To Play</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Resources and Community<span class="caret"></span></a>
        <div class="dropdown-menu">
          <a href="/resources" class="dropdown-item">Resources</a>
          <a href="https://discord.gg/tuGjwHy" class="dropdown-item">Discord</a>
          <a href="/develop" class="dropdown-item">Develop</a>
          <a href="/credits" class="dropdown-item">The Team</a>
          <a href="https://github.com/BloodSweatAndCode/cv2-rando/issues" class="dropdown-item">Feedback</a>
        </div>
      </li>
    </ul>
  </div>
  
</nav>

<script>
  $("a[href$='" + window.location.pathname + "'].nav-link").addClass('active');
</script>
